Bug: SSH_MSG_USERAUTH_BANNER is not displayed

According to [RFC 4252](https://www.ietf.org/rfc/rfc4252.txt), SSH clients should support the `SSH_MSG_USERAUTH_BANNER` message type by displaying its contents to the user:

> ```
> 5.4.  Banner Message
>
>    In some jurisdictions, sending a warning message before
>    authentication may be relevant for getting legal protection.  Many
>    UNIX machines, for example, normally display text from /etc/issue,
>    use TCP wrappers, or similar software to display a banner before
>    issuing a login prompt.
>
>    The SSH server may send an SSH_MSG_USERAUTH_BANNER message at any
>    time after this authentication protocol starts and before
>    authentication is successful.  This message contains text to be
>    displayed to the client user before authentication is attempted.  The
>    format is as follows:
>
>       byte      SSH_MSG_USERAUTH_BANNER
>       string    message in ISO-10646 UTF-8 encoding [RFC3629]
>       string    language tag [RFC3066]
>
>    By default, the client SHOULD display the 'message' on the screen.
>    However, since the 'message' is likely to be sent for every login
>    attempt, and since some client software will need to open a separate
>    window for this warning, the client software may allow the user to
>    explicitly disable the display of banners from the server.  The
>    'message' may consist of multiple lines, with line breaks indicated
>    by CRLF pairs.
> ```

OpenSSH handles this as `input_userauth_banner` and writes it to stderr:
https://github.com/openssh/openssh-portable/blob/0a75a95d582028c5ce91f524c20365df9f2515f2/sshconnect2.c#L569-L586

``` c
static int
input_userauth_banner(int type, uint32_t seq, struct ssh *ssh)
{
	char *msg = NULL;
	size_t len;
	int r;

	debug3_f("entering");
	if ((r = sshpkt_get_cstring(ssh, &msg, &len)) != 0 ||
	    (r = sshpkt_get_cstring(ssh, NULL, NULL)) != 0)
		goto out;
	if (len > 0 && options.log_level >= SYSLOG_LEVEL_INFO)
		fmprintf(stderr, "%s", msg);
	r = 0;
 out:
	free(msg);
	return r;
}
```

### Reproduction steps

1. Set up an SSH server that emits a banner message. In this case, I am connecting to a [Tailscale SSH](https://tailscale.com/docs/features/tailscale-ssh) server, but you can just set the [Banner](https://linux.die.net/man/5/sshd_config#:~:text=is%20%27%27.ssh/authorized_keys%27%27.-,Banner,-The%20contents%20of) option in your sshd_config(5).
2. `ssh` to the server to verify that you see the banner:
   > ```
   > sfllaw@h2co3:~$ ssh sfllawless
   > # Tailscale SSH requires an additional check.
   > # To authenticate, visit: https://login.tailscale.com/a/asdf1234
   > ```
3. `et` to the server, where this message fails to appear.
   ```
   sfllaw@h2co3:~$ et sfllawless
   ^C
   Got interrupt (perhaps ctrl+c?): 2.  Exiting.
   ```
4. Run `et --verbose=1 --logtostdout` which indicates that this message is logged, but not displayed:
   > ```
   > sfllaw@h2co3:~$ et --verbose=1 --logtostdout sfllawless
   > Setting up and starting sentry
   > [sentry] INFO using database path "/tmp/.sentry-native-et"
   > [sentry] DEBUG starting transport
   > [sentry] DEBUG starting background worker thread
   > [sentry] DEBUG starting backend
   > [sentry] DEBUG starting crashpad backend with handler "/usr/bin/crashpad_handler"
   > [sentry] DEBUG using minidump URL "https://o496602.ingest.sentry.io:443/api/6143885/minidump/?sentry_client=sentry.native/0.9.1&sentry_key=46412bae7f0244d5abf84e17fdaf71d2"
   > [sentry] DEBUG background worker thread started
   > [sentry] INFO started crashpad client handler
   > [sentry] DEBUG processing and pruning old runs
   > [INFO 2026-07-01 10:49:23,938 client-main TerminalClientMain.cpp:265] Parsed ssh config file, connecting to sfllawless
   > [V1 2026-07-01 10:49:23,938 client-main TerminalClientMain.cpp:16] Connecting
   > [INFO 2026-07-01 10:49:23,965 client-main TcpSocketHandler.cpp:96] Connected to server: sfllawless.REDACTED.ts.net using fd 8
   > [V1 2026-07-01 10:49:23,965 client-main UnixSocketHandler.cpp:166] Closing connection: 8
   > [V1 2026-07-01 10:49:23,988 client-main SshSetupHandler.cpp:78] Trying ssh with args: sfllaw@sfllawless echo 'XXX2oc5zIvJAI6z2/HnifAlIBdLQBFbYfed0ArHxUi3AWgPCd_xterm-256color' | etterminal --verbose=1 
   > 
   > # Tailscale SSH requires an additional check.
   > # To authenticate, visit: https://login.tailscale.com/a/asdf1234
   > ```


@MisterTea, there are two options to fix this:
1. Don’t capture stderr and just let the SSH binary write directly there. This means that Eternal Terminal stops logging this output though, so even though this is simpler, it’s not backwards compatible.
2. Select from stderr and tee it to both the console and the logfile. This is a little more complicated and would cause duplicate messages when run with `--logtostdout`, but wouldn’t break anything that is watching the logfiles.

What do you think?

Et uses ssh for handshaking but it's not tightly integrated with ssh. Ideally, we add banner support to et independent of ssh. My vote is to implement RFC 4252 within et as a PR. 

@MisterTea, the banner is sent by the SSH server to the client as part of the handshake, so I am not sure how we would add banner support independent of SSH. Because the SSH client prints the banner message to standard error, et usually sends it to its log file by hijacking stderr using `freopen`:
https://github.com/MisterTea/EternalTerminal/blob/3dd946d7128ea98653bbbab2f454706aa66d9893/src/base/LogHandler.cpp#L112-L115

That’s why I suggested that maybe you want to capture standard error and tee it to both the console and the log file.

> My vote is to implement RFC 4252 within et as a PR.

RFC 4252 is titled _The Secure Shell (SSH) Authentication Protocol_. It sounds like you’re suggesting that et implements the SSH handshake, but that seems a little drastic. Am I misinterpreting you?

Sorry, I didn't read RFC4252 and assumed it was just for the banner. 

I'm suggesting that we reimplement the banner display using the et protocol instead of relying on getting it from the ssh handshake. In the future we may handshake using et or another method. 

The reason that the printing SSH banner is specifically important to me is that various servers use it as a gate: they print some form of secret, like a PIN or URL, which you use for 2 Factor Authentication. Because the banner is currently redirected to a logfile, the user will think that et is hanging and not that the SSH server is waiting for them to react to the contents of the banner.